header {
    color: red;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}
.dropbtn {
    background-color: rgb(71, 231, 71);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}
.dropdown{
    position: relative;
    white-space: nowrap;
    display: inline;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    margin-left: 100px;
    text-align: center;
}
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .left-dropbtn {background: #3e84e1;}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .middle-dropbtn {background: #3e84e1;}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .right-dropbtn {background: #3e84e1;}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
