header {
    color: black;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}
.dropdown{
    position: relative;
    white-space: nowrap;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 0px;
    text-align: center;
}
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background: blue;}
h1 {
    margin-bottom: 0px;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}