header {
    color: #6F0B57;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}
body {
    background-color: #FF66DA;
    background-image: linear-gradient(to right, #E154BD , rgb(36, 180, 228));
    font-family: helvetica;
    font-size: 14px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
button {
    background-color: #B8459C;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #6F0B57;
    padding: 16px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

.encrypt {
    background-color: grey;
    color: #6F0B57;
    padding: 5px;
    font-size: 16px;
    border: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    border-color: black;
}
#pascal {
    background-color: #E154BD;
    color: #6F0B57;
    padding: 5px;
    font-size: 12px;
    border: 10px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-color: black;
}
#pythagorean {
    background-color: #E154BD;
    color: #6F0B57;
    padding: 5px;
    font-size: 12px;
    border: 10px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-color: black;
}
#fibb {
    background-color: #E154BD;
    color: #6F0B57;
    padding: 5px;
    font-size: 12px;
    border: 10px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-color: black;
}
#base{
    background-color: #E154BD;
    color: #6F0B57;
    padding: 5px;
    font-size: 12px;
    border: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-color: black;
}
.decrypt {
    background-color: grey;
    color: #6F0B57;
    padding: 5px;
    font-size: 16px;
    border: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    border-color: black;
}

input {
    background-color: #E154BD;
}

.dropdown1-content {
    display: none;
    color: #6F0B57;
    position: absolute;
    background-color: #F3ADE1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 0px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown2-content {
    display: none;
    color: #6F0B57;
    position: absolute;
    background-color: #F3ADE1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 0px;
    text-align: center;
}
.dropbtn1 {
    transition-duration: .5s;
}

.dropbtn2 {
    transition-duration: .5s;
}
.dropbtn3 {
    transition-duration: .5s;
}
.dropbtn4 {
    transition-duration: .5s;
}
.dropbtn5 {
    transition-duration: .5s;
}
.dropbtn5 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.dropbtn5 span:after {
content: ';)';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: .5s;
}
.dropbtn5:hover span {
    padding-right: 25px;
}
.dropbtn5:hover span:after {
opacity: 1;
right: 0;
}

.dropdown1:hover .dropdown1-content {display: block;}
.dropdown1:hover .dropbtn1 {background: blue;}
.dropdown1:hover .dropbtn1 {color: white;}

.dropdown3:hover .dropbtn3 {background: blue;}
.dropdown3:hover .dropbtn3 {color: white;}

.dropdown2:hover .dropdown2-content {display: block;}
.dropdown2:hover .dropbtn2 {background: blue;}
.dropdown2:hover .dropbtn2 {color: white;}


.dropdown4-content a:hover {background-color: #C13FA0;}
.dropdown4:hover .dropdown4-content {display: block;}
.dropdown4:hover .dropbtn4 {background: blue;}
.dropdown4:hover .dropbtn4 {color: white;}

.dropdown5:hover .dropbtn5 {background: blue;}
.dropdown5:hover .dropbtn5 {color: white;}

.dropdowns{
    position: relative;
    white-space: nowrap;
    display: inline-flex;
    transition-duration: 1s;
}
.link {
    display: none;
    position: absolute;
    background-color: #F3ADE1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 0px;
    text-align: center;
}
.link a {
    color: #6F0B57;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}